body{
    background-color: #F9DBBA;
}

a{
    color: #1F316F;
    text-decoration: none;
}

hr{
    border: 1px solid #1A4870;
}

h1{
    text-align: center;
    margin: 2% 10% 1% 10%;
    color: #1F316F;
}

h2{
    /*background-color: #5B99C2;*/
    padding: 1%;
    text-align: center;
    margin: 0% 20%;
    font-weight: 600;
    border-radius: 10px;
}

h3{
    background-color: #5B99C2;
    padding: 2%;
    text-align: center;
    margin: 5% 0%;
    font-weight: 200;
    border-radius: 10px;
    font-size: 125%;
    width: 130%;
}

#info {
    margin-left: 60%;
    width: 95px;
}

@media (max-width: 680px) {
    #info {
        width: 15%;
    }
}

/*#projects > div {
    display: inline-block;
    width: 20%;
    margin: 2%;
}*/