*{
  background-color: black;
}

div{
  width: 50%;
  margin-left: 25%;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-align: center;
}

#pic{
  border: 5px solid white;
  width: 100%;
}

#main{
  background-color: black;
  text-transform: uppercase;
}
